@import './variables.scss';
@import './mixin.scss';
@import './element-ui.scss';
@import './notice.scss';

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

ul,li{
    margin: 0;
    padding: 0;
}

.common-layout{
    background: $light-grey;
}
.badge{
    background-color: $red;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #fff;
    vertical-align: middle;
}
.btn-plain{
    background-color: #fff;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    border: 1px solid #dcdfe6;
    font-size: 12px;
    border-radius: 2px;
    &.success{
        color: #5AC4AA;
        border-color: #5AC4AA;
    }
    &.warning{
        color: #F2A240;
        border-color: #F2A240;
    }
    &.primary{
        color: #1083EE;
        border-color: #1083EE;
    }
}

.clearfix:after{
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;  
}
.clearfix {
/* 触发 hasLayout */ 
zoom: 1; 
}

.tabs{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        float: left;
        padding: 0 16px;
        cursor: pointer;
    }
}

.footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 52px;
    line-height: 52px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    text-align: center;
}


::-webkit-scrollbar{
    width: 0;
}
