@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin relative {
    position: relative;
    width: 100%;
    height: 100%;
}

@mixin ellipsis($num) {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    overflow: hidden;
}
