// base color
$blue:#1083EE;
$light-blue:#3A71A8;
$red:#F44F4F;
$pink: #E65D6E;
$green: #5AC4AA;
$tiffany: #4AB7BD;
$yellow:#F2A240;
$panGreen: #30B08F;
$light-grey: rgba(0, 0, 0, 0.04);
$black: #000;